# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uilds/
[Bb]uild/
[Ll]ibrary/
[Aa]pp/
UWP/
WindowsStoreApp/
UnityGenerated/
UnityPackageManager/
project.json
project.lock.json
WSATestCertificate.pfx
WSATestCertificate.pfx.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs/
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.csproj
*.vcxproj.filters
*.pidb
*.suo
*.user
*.unityproj
*.ipch
*.opensdf
*.sdf
*.tlog
*.log
*.idb
*.ipdb
*.iobj
*.exp
*.opendb

Release/
Debug/

Assets/ThirdParty/
Assets/ThirdParty.meta

node_modules/

# ============== #
# Personnal Temp #
# ============== #
*~
*_[Tt]ests/
